<!--<div id="comment_<%= comment.id %>" class="comment">-->
<div class="row">
<div class="col-md-1" style="flex-grow: 1">
    <% if comment.user.user_pic.present? %>
        <%= image_tag(comment.user.user_pic, :height=>'50px', :width=>'50px', :style => 'border-radius: 50%') %>
    <% else %>
        <%= image_tag("/user.png", :height=>'50px', :width=>'50px',:style => 'border-radius: 50%') %>
    <% end %>
</div>

<div id="edit_form" class="col-md-11">
<%= form_for [comment.room, comment], method: :patch, html: {class: "form-inline"}, remote:true do |f| %>
        <div class="form-group" style="width:100%">
            <%= f.hidden_field :id, value: comment.id %>
            <%= f.hidden_field :room_id, value: comment.room.id %>
            <%= f.text_area :text_content, rows: 1, :class => "comment-box form-control",
                :required => true, :style=> "flex-grow: 1", :autocomplete => 'off', placeholder: "Edit comment" %>
            <%= f.fields_for :rating, update_ratings_path do |rating_form| %>
                <p>
                    <%= rating_form.hidden_field :id, value: comment.rating.id %>
                    <%= rating_form.hidden_field :comment_id, value: comment.id %>
                    <%= rating_form.hidden_field :room_id, value: comment.room.id %>    
                    <%= rating_form.hidden_field :stars %>                    
                </p>
                <% end %>
            <h2 id="your_rating">
                <i id="1" class="fas fa-star"></i>
                <i id="2" class="fas fa-star"></i>
                <i id="3" class="fas fa-star"></i>
                <i id="4" class="fas fa-star"></i>
                <i id="5" class="fas fa-star"></i>
            </h2>
        
            <p id="value"></p>    

            <%= f.submit "Edit", id: "submit", class: "btn btn-primary" %>
            <%= link_to room_comment_cancel_path(comment.room_id,comment), remote:true do %>
                <button type="button" class="btn btn-danger">
                    Cancel
                </button>
            <% end %>
        </div>
    <% end %>
    </div>
</div>
<!--</div>-->