<% if comment.parent_id == nil %>
<div id="comment_<%= comment.id %>" class="comment">
    <div class="row">
        <div class="col-md-1">
            <% if comment.user.user_pic.present? %>
                <%= image_tag(comment.user.user_pic, :height=>'50px', :width=>'50px', :style => 'border-radius: 50%') %>
            <% else %>
                <%= image_tag("/user.png", :height=>'50px', :width=>'50px',:style => 'border-radius: 50%') %>
            <% end %>
        </div>
        <div class="col-md-9">
            <a href="#" style="font-weight:bold"><%= comment.user.username %></a>
            <div><%= comment.created_at %>
            <%= render 'ratings/stars', {comment: comment} %>
            </div>
        </div>
        <div class="col-md-2">
            <% if user_signed_in? && current_user.id == comment.user_id %>
            <%= link_to edit_room_comment_path(comment.room_id, comment),
                remote: true do %>
                  <i class="fa fa-edit" aria-hidden="true"></i>
                  <!--<span class="tooltiptext">Remove</span>-->
            <% end %>
            
            <%= link_to room_comment_path(comment.room_id, comment),
                method: :delete, remote: true, data: { confirm: 'Are you sure?' } do %>
                  <i class="fa fa-trash" aria-hidden="true"></i>
                  <!--<span class="tooltiptext">Remove</span>-->
            <% end %>  
           <% end %>
        </div>
    </div>

    <p class="offset-md-1" id="comment_content" style="white-space: pre-line;"><%= comment.text_content %></p>

    <!-- check to load form--> 
    <% if user_signed_in? %>    

    <!-- display reply button-->
    <div id="like_<%= comment.id %>" class="d-inline-block offset-md-1">
      <%= render "comments/like" ,
       {comment: comment, room: comment.room}  %>
   </div>
   <a href="javascript:void(0)" id="reply_button">
       <%= render "comments/reply_button", comment: comment %>
    </a>
    <div style="display:none" class="offset-md-1" id="reply_form">
    <%= form_for [comment.room, Comment.new], html: {class: "form-inline"}, remote:true do |f| %>
                
            <div class="form-group" style="width:100%">
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :parent_id, value: comment.id %>
                <%= f.hidden_field :room_id, value: comment.room.id %>
                <%= f.text_area :text_content, rows: 1, :class => "comment-box form-control", :style=>"width:50%",
                    :required => true, :autocomplete => 'off', placeholder: "Reply" %>
                    
                <%= f.submit "Reply", id: "reply_submit", class: "btn btn-primary" %>
            </div>
    <% end %>
    </div>    
    <% end %>
</div>
<% end %>