<% if @comment.parent_id == nil %>
console.log('review');
$('#comment_form').empty();
$("#comments").prepend("<%= escape_javascript(render partial: 'comment', locals: {comment: @comment}) %>");
$("#review_amount").text("<%= Room.find(@comment.room_id).ratings.count %> Reviews");
$("#edit_form").hide();

$( '<div id="replies_<%= @comment.id %>"></div>' )
.insertAfter( $("#comment_<%= @comment.id %>") );

$("#average_rating").empty();
$("#average_rating").append("<%= escape_javascript(render partial: 'average', locals: {comment: @comment}) %>");
<% else %>
$('#replies_<%= @comment.parent_id %>')
.prepend("<%= escape_javascript(render partial: 'reply', locals: {comment: @comment}) %>");

<% end %>
