<br>
<div class="container"> 
 <div class ="row">
  <div class="col-md-12">
   <h1 class="text-center">Hi, <%= @user.username %></h1>
   <br><br>
  </div>
 </div>
 <div class="container"> 
  <div class="row">        
   <div class="col-md-3">          
    <div class="profile-sidebar">                          
     <div class="profile-userpic">
     <% if @user.user_pic.blank? %> 
          <%= image_tag("/user.png", :height=>'200px', :width=>'200px', :style => 'margin-right: 5px;border-radius: 10%') %>

     <% else %>
          <%= image_tag(@user.user_pic, :height=>'200px', :width=>'200px', :style => 'margin-right: 5px;border-radius: 10%') %>

     <% end %>
     </div>                                            
                                               
                     
    </div>     
   </div>      
   <div class="col-md-9">
    <div class="profile-content">
     <table width="100%">
       <tr>
         <td width="30%">Fullname</td>
         <td width="70%"><%= @user.fullname%></td>
       </tr>
       <tr>
         <td width="30%">Gender</td>
         <td width="70%">
          <% if @user.gender == true %>
           <%= "Male"%>
          <% else %>
           <%= "Female"%>
          <% end %>
         </td>
       </tr>
       <tr>
         <td width="30%">Email</td>
         <td width="70%"><%= @user.email%></td>
       </tr>
       <tr>
         <td width="30%">Address</td>
         <td width="70%"><%= @user.address%></td>
       </tr>
     </table>
    </div>
   </div>  
  </div>
 </div>
 <br><br>
 
 <% if user_signed_in? %>
 <% if (current_user.id == @user.id) %>
 <div class ="row">
  <div class="offset-md-5 col-md-2">
   
   <a href="/users/edit" class="btn btn-info btn-block" ><i class="far fa-edit"></i>
   Edit Profile</a>
  </div>
 </div>
 <% end %>
 <% end %>

   <!--<div class="offset-md-3 col-md-8">-->
</div>
