<br>

<% if user_signed_in? %>
    <div class="row">
      <div class="offset-md-1">
      <%= link_to new_room_path(), class: "btn btn-info btn-lg btn-add-room" do %>
          <span class="glyphicon glyphicon-plus-sign"></span>
          Add new room <i class="fas fa-plus-circle"></i>
      <% end %>
      </div>
    </div>
<% end %>
<div class="row">
  <div class="col-md-8 offset-md-1">
    <h2>New Rooms</h2>
    <!---->
    <div style="text-align: right;">
      <%= search_form_for @search, url: home_index_path do |f|%>
        <%= f.label :show_limit, "Show limit:" %>
        <%= select_tag :limit, options_from_collection_for_select(Settings.show_limit, :second, :second, selected: params[:limit] || Settings.show_limit.limit),id: "show-limit"%>
        <%= f.submit "search", class: "btn btn-info", style: "display: none; margin-right: 10px"%>
      <% end %>
    </div>
    <!---->
    <br>
    <div class="pagination_container">
      <%= paginate @rooms, theme: 'twitter-bootstrap-3'%>
    </div>
    <br>
    <div class="row">
      
      <% @rooms.each do |room| %>
        <div class="col-md-4">
          <div class="card" style="width: 100%;">
            <!--<div class="card-body">-->
             <%= image_tag(room.pictures[0], :alt=>'Room image', :width=>"100%", :class => "index-room-img") %>
             <ul class="homepage-info">
               <div class="row">
                <h5 style="font-weight: bold; text-overflow: ellipsis; white-space: nowrap;
                overflow: hidden;" class="col-md-9"><%= room.room_name %></h5>
                <h6 class="col-md-3 right-corner" style="white-space: nowrap; font-weight: bold">
                  $<%= room.cost_per_night %></h6>
                </div>
                <li><%= room.address %></li>
                <li><%= room.ratings.count %> Reviews</li>
                 <!--to fix-->
                <li><%= link_to "More detail", room_path(room.id) %></li>
                
              <br>
              
              <li>
                <% if !room.ratings.blank? %>
                  <% for i in 1..5 %>
                      <% if i > room.ratings.average(:stars) %>
                      <i class="fas fa-star"></i>
                      <% else %>
                      <i class="fas fa-star rated"></i>
                      <% end %>
                  <% end %>
                  <%= number_with_precision(room.ratings.average(:stars), :precision => 1) %>
                  <% else %>
                No ratings.
                <% end %>
              </li>
              </ul>
            <!--</div>-->
          </div>
        </div>
      <% end %>
      
    </div>
    <br>
    <div class="pagination_container">
      <%= paginate @rooms, theme: 'twitter-bootstrap-3'%>
    </div>
    <br>
  </div>
  <div class="col-md-2">
    <h2>Top</h2>
    <% @top.each do |top| %>
    <div class="card" style="width: 100%;">
      <%= image_tag(top.pictures[0], :alt=>'Room image', :class => 'index-top-img') %>
      <div class="card-body">
        <h5 class="card-title"><%= link_to top.room_name, room_path(top) %></a></h5>
        <p class="card-text">
          <% if !top.ratings.blank? %>
                <% for i in 1..5 %>
                    <% if i > top.ratings.average(:stars) %>
                    <i class="fas fa-star"></i>
                    <% else %>
                    <i class="fas fa-star rated"></i>
                    <% end %>
                <% end %>
                <%= number_with_precision(top.ratings.average(:stars), :precision => 1) %>
                <% else %>
                No ratings.
          <% end %>
        </p>
      </div>
    </div>
    <br>
    <% end %>
    
  </div>
</div>
