<% if user_signed_in? %>
    <div class="row">
      <div class="offset-md-1">
      <%= link_to new_room_path(), class: "btn btn-info btn-lg btn-add-room" do %>
          <span class="glyphicon glyphicon-plus-sign"></span>
          Add new room <i class="fas fa-plus-circle"></i>
      <% end %>
      </div>
    </div>
<% end %>
<div class="row">
  <div class="col-md-8 offset-md-1">
    <h2>New Rooms</h2>
    <div class="row">
      
      <% @rooms.each do |room| %>
        <div class="col-md-6">
          <div class="card" style="width: 100%;">
            <div class="card-body">
             <%= image_tag(room.pictures[0], :alt=>'Room image', :width=>"100%", :class=>'img-responsive') %>
             <ul class="homepage-info">
                <h5><%= room.room_name %></h5>
                <li>Address: <%= room.address %></li>
                <li>Contact: <%= room.contact_host %></li>
                <li>Review(10)</li>
                 <!--to fix-->
                <li><%= link_to "More detail", room_path(room.id) %></li>
              </ul>
              <p class="card-text">
                <i class="fas fa-star rated"></i>
                <i class="fas fa-star rated"></i>
                <i class="fas fa-star rated"></i>
                <i class="fas fa-star rated"></i>
                <i class="fas fa-star"></i>
              </p>
            </div>
          </div>
        </div>
      <% end %>
      
    </div>
    <br>
    <%= paginate @rooms, theme: 'twitter-bootstrap-3' %>
    <br>
  </div>
  <div class="col-md-2">
    <h2>Top</h2>
    <div class="card" style="width: 100%;">
      <%= image_tag("rooms/room1.jpg", :alt=>'Room image', :class => 'card-img-top') %>
      <div class="card-body">
        <h5 class="card-title"><a href="#">My room</a></h5>
        <p class="card-text">
          <i class="fas fa-star rated"></i>
          <i class="fas fa-star rated"></i>
          <i class="fas fa-star rated"></i>
          <i class="fas fa-star rated"></i>
          <i class="fas fa-star rated"></i>
        </p>
      </div>
    </div>
  </div>
</div>
