<div class="container row">
    <div class="col-md-3">
    </div>
    <div class="sign-form col-md-9">	
        <h2>Register new room</h2>
        
        <%= form_for @room do |f| %>
        
        <div class="field">
            <%= f.label :room_name, "Room name:" %>
            <%= f.text_field :room_name, class: "form-control" %>
        </div>
        
        <div class="field">
            <%= f.hidden_field :user_id, value: current_user.id, class: "form-control" %>
        </div>
        
         <div class="field">
            <%= f.label :address, "Address:" %>
            <%= f.text_field :address, class: "form-control" %>
        </div>
    
        <div class="field">
            <%= f.label :cost_per_night, "Cost per night:" %>
            <%= f.number_field :cost_per_night, class: "form-control" %>
        </div>
        
        <br>
        
        <div class="field">
            <%= f.label :type_of_room, "Type of room:" %>
            <%= f.select :type_of_room, options_for_select([["Homestay", "t"], ["Hotel", "s"]]), class: "form-control" %>
        </div>
        
        <br>
        
        <div class="field">
            <%= f.label :num_of_guests, "Number of guests:" %>
            <%= f.number_field :num_of_guests, class: "form-control" %>
        </div>
        
        <div class="field">
            <%= f.label :num_of_bedrooms, "Number of bedrooms:" %>
            <%= f.number_field :num_of_bedrooms, class: "form-control" %>
        </div>
        
        <div class="field">
            <%= f.label :num_of_beds, "Number of beds:" %>
            <%= f.number_field :num_of_beds, class: "form-control" %>
        </div>
        
        <div class="field">
            <%= f.label :num_of_baths, "Number of bathrooms:" %>
            <%= f.number_field :num_of_baths, class: "form-control" %>
        </div>
        
        <br>
        
        <div class="field">
            <%= f.label :amentities, "Amentities:" %>
            <%= f.text_field :amentities, class: "form-control" %>

            <div class="row">
                <div class="col-md-4">
                    <%= label_tag(:gym, "Gym") %>
                    <%= check_box_tag(:gym) %>
                </div>
                <div class="col-md-4">
                    <%= label_tag(:wifi, "Wifi") %>
                    <%= check_box_tag(:wifi) %>
                </div>
                <div class="col-md-4">
                    <%= label_tag(:tv, "TV") %>
                    <%= check_box_tag(:tv) %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <%= label_tag(:kitchen, "Kitchen") %>
                    <%= check_box_tag(:kitchen) %>
                </div>
                <div class="col-md-4">
                    <%= label_tag(:air_conditioner, "Air conditioner") %>
                    <%= check_box_tag(:air_conditioner) %>
                </div>
                <div class="col-md-4">
                    <%= label_tag(:hot_water, "Hot water") %>
                    <%= check_box_tag(:hot_water) %>
                </div>
            </div>
        </div>
        
        <br>
        
        <div class="field">
            <%= f.label :pictures, "Pictures:" %>
            <%= f.text_field :pictures, class: "form-control" %>
        </div>
        
        <br>
        
        <div class="field">
            <%= f.label :contact_host, "How to contact host:" %>
            <%= f.text_area :contact_host, class: "form-control" %>
        </div>
        
        <br>
        
        <%= f.submit "Create room", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>