<div class="container row">
    <div class="room-form offset-md-2 col-md-9">
        
        <% if @room.errors.any? %>
            <% @room.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
        <% end %>
        	
        <h2>Register new room</h2>
        
        <%= form_for @room do |f| %>
        
        <div class="field">
            <%= f.label :room_name, "Room name:" %>
            <%= f.text_field :room_name, class: "form-control", :required => true %>
        </div>
        
        <div class="field">
            <%= f.hidden_field :user_id, value: current_user.id, class: "form-control" %>
        </div>
        
        <div class="field">
            <%= f.label :room_info, "Room info:" %>
            <%= f.text_area :room_info, class: "form-control" %>
        </div>
        
 		 <div class="field">
            <%= f.label :province, "Province or City" %> 
            <%= f.select :province, options_for_select($CITYS), :class=>"form-control" %>
        </div>
    
        <br>
        
        <div class="field">
            <%= f.label :address, "Address:" %>
            <%= f.text_field :address, class: "form-control", :required => true %>
        </div>
    
        <div class="field">
            <%= f.label :cost_per_night, "Cost per night:" %>
            <%= f.number_field :cost_per_night, class: "form-control", :min=>0 %>
        </div>
        
        <br>
        
        <div class="field">
            <%= f.label :type_of_room, "Type of room:" %>
            <%= f.select :type_of_room, options_for_select([["Homestay", 0], ["Hotel", 1]]), :class=>"form-control" %>
        </div>
        
        <br>
        
        <div class="field">
            <%= f.label :num_of_guests, "Number of guests:" %>
            <%= f.number_field :num_of_guests, min: 0, class: "form-control" %>
        </div>
        
        <div class="field">
            <%= f.label :num_of_bedrooms, "Number of bedrooms:" %>
            <%= f.number_field :num_of_bedrooms, min: 0, class: "form-control" %>
        </div>
        
        <div class="field">
            <%= f.label :num_of_beds, "Number of beds:" %>
            <%= f.number_field :num_of_beds, min: 0, class: "form-control" %>
        </div>
        
        <div class="field">
            <%= f.label :num_of_baths, "Number of bathrooms:" %>
            <%= f.number_field :num_of_baths, class: "form-control" %>
        </div>
        
        <br>
        
        <div class="field">
            <%= f.label :amentities, "Amentities:" %>
            <%= f.hidden_field :amentities %>

            <div class="row">
                <div class="col-md-4">
                    <%= label_tag(:gym, "Gym") %>
                    <%= check_box_tag(:gym) %>
                </div>
                <div class="col-md-4">
                    <%= label_tag(:wifi, "Wifi") %>
                    <%= check_box_tag(:wifi) %>
                </div>
                <div class="col-md-4">
                    <%= label_tag(:tv, "TV") %>
                    <%= check_box_tag(:tv) %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <%= label_tag(:kitchen, "Kitchen") %>
                    <%= check_box_tag(:kitchen) %>
                </div>
                <div class="col-md-4">
                    <%= label_tag(:air_conditioner, "Air conditioner") %>
                    <%= check_box_tag(:air_conditioner) %>
                </div>
                <div class="col-md-4">
                    <%= label_tag(:hot_water, "Hot water") %>
                    <%= check_box_tag(:hot_water) %>
                </div>
            </div>
        </div>
        
        <br>
        
        <div class="field">
            <%= f.label :pictures, "Pictures:" %>
            <br>
            <!--<div class="upload-btn-wrapper">-->
              <!--<button class="add-img"></button>-->
              <%= f.file_field :pictures, multiple: true %>
              <%= f.hidden_field :pictures_cache %>
            
            <!--</div>-->
        </div>
        
        <div class="row" id="pictures_preview">
            
        </div>
        
        <br>
        
        <div class="field">
            <%= f.label :contact_host, "How to contact host:" %>
            <%= f.text_area :contact_host, class: "form-control" %>
        </div>
        
        <br>
        
        <%= f.submit "Create room", id: "submit", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>