<div class="row">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="width:100%">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <%= image_tag(@room.pictures[0], :class=>'d-block room-info-cover img-responsive', :alt=>'First slide') %>
        </div>
        <div class="carousel-item">
            <%= image_tag(@room.pictures[1], :class=>'d-block room-info-cover img-responsive', :alt=>'Second slide') %>
        </div>
        <div class="carousel-item">
            <%= image_tag("rooms/room1.jpg", :class=>'d-block room-info-cover img-responsive', :alt=>'Third slide') %>
        </div>
        <div class="carousel-item">
            <%= image_tag("rooms/room1.jpg", :class=>'d-block room-info-cover img-responsive', :alt=>'Forth slide') %>
        </div>
        <div class="carousel-item">
            <%= image_tag("https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/2420162/1160/770/m1/fpnw/wm0/house-icon-.jpg?1489741718&s=b65af254de3b2032a8f63ba21b26445f", :class=>'d-block room-info-cover img-responsive', :alt=>'Fifth slide') %>
        <!--default when there is no image-->
        </div>
      </div>
    </div>
</div>
<div class="row mt-3">
    <div class="offset-md-1 col-md-5">
        <h1> <%= @room.room_name %></h1>
        <p><i class="far fa-address-book"></i> <%= @room.address %></p>
        <div class="row">
            <div class="col-md-3"><i class="fas fa-user-friends"></i> <%= @room.num_of_guests %> guest </div>
            <div class="col-md-3"><i class="fas fa-door-open"></i> <%= @room.num_of_bedrooms %> bedroom </div>
            <div class="col-md-3"><i class="fas fa-bed"></i> <%= @room.num_of_beds %> bed</div>
            <div class="col-md-3"><i class="fas fa-bath"></i> <%= @room.num_of_baths %> bath</div>
        </div>
    </div>
    <div class="col-md-2 text-center">
        <p>Owner: <%= link_to @room.user.username, user_path, id: @room.user_id %></p>
        <%= image_tag("profile-pictures/avatar.jpg", :height=>'100px', :style => 'border-radius: 50%') %>
    </div>
</div>
<hr />
<div class="row">
    <div class="offset-md-1 col-md-7">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
        sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        
        <a href="#">Read more about the space <i class="fas fa-chevron-down"></i></a>
        <hr />
        <p style="font-weight: bold">Amentities</p>
        <div class="row mb-1">
            <div class="col-md-6"><i class="fas fa-utensils"></i> Kitchen</div>
            <div class="col-md-6"><i class="fas fa-wifi"></i> Wifi</div>
        </div>
        <div class="row mb-1">
            <div class="col-md-6"><i class="fas fa-tv"></i> TV</div>
            <div class="col-md-6"></div>
        </div>
        <hr />
        <h2>157 Reviews
            <i class="fas fa-star rated"></i>
            <i class="fas fa-star rated"></i>
            <i class="fas fa-star rated"></i>
            <i class="fas fa-star rated"></i>
            <i class="fas fa-star"></i>
        </h2>
        <form class="form-inline">
          <div class="form-group" style="width:85%">
            <input type="text" class="form-control" style="width:100%" placeholder="Write a review">
          </div>
          <button type="submit" class="ml-auto btn btn-primary">Submit</button>
        </form>
        <hr />
        <div class="comment">
            <div class="row">
                <div class="col-md-1"><%= image_tag("profile-pictures/avatar.jpg", :height=>'35px', :style => 'border-radius: 50%') %></div>
                <div class="col-md-3">
                    <a href="#" style="font-weight:bold">Quan dep trai</a>
                    <p>September 12</p>
                </div>
                <div class="col-md-2 ml-auto">8 Helpfuls</div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
            sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            <a href="#"></a>
        </div>
        <hr />
    </div>
    <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <p><h3 class="mr-2" style="display:inline-block">$<%= @room.cost_per_night %></h3><h5 style="display:inline-block">per night</h5></p>
            <p>
                <i class="fas fa-star rated"></i>
                <i class="fas fa-star rated"></i>
                <i class="fas fa-star rated"></i>
                <i class="fas fa-star rated"></i>
                <i class="fas fa-star"></i> 157
            </p>
            <hr />
            <a href="#" class="btn contact">Contact to Host</a>
            <hr />
          </div>
        </div>
    </div>
</div>