<!-- Room's images slide -->
<div id="MyCarousel" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
     <% @room.pictures.each_with_index do |photo, n| %>
       <li data-target='#MyCarousel' data-slide-to="#{n}" class="#{'active' if n == 0}"></li>
     <% end %>
  </ul>
  
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag(@room.pictures.first, :style=>'object-fit:cover;height:500px;width:100%;') %>
    </div>
    <% @room.pictures.drop(1).each do |photo| %>
       <div class="carousel-item">
         <%= image_tag(photo, :style=>'object-fit:cover;height:500px;width:100%;') %>
       </div>
    <% end %>
  </div>
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#MyCarousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#MyCarousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
  </div>

<div class="row mt-3">
    <div class="offset-md-1 col-md-5">
        <h1> <%= @room.room_name %></h1>
        <p><i class="far fa-address-book"></i> <%= @room.address %></p>
        <div class="row">
            <div class="col-md-3"><i class="fas fa-user-friends"></i> <%= @room.num_of_guests %> guest </div>
            <div class="col-md-3"><i class="fas fa-door-open"></i> <%= @room.num_of_bedrooms %> bedroom </div>
            <div class="col-md-3"><i class="fas fa-bed"></i> <%= @room.num_of_beds %> bed</div>
            <div class="col-md-3"><i class="fas fa-bath"></i> <%= @room.num_of_baths %> bath</div>
        </div>
    </div>
    <div class="col-md-2 text-center">
        <p>Owner: <%= link_to @room.user.username, user_path(:id => @room.user_id) %></p>
        <% if @room.user.user_pic.present? %>
        <%= image_tag(@room.user.user_pic, :height=>'50px', :style => 'border-radius: 50%') %>
        <% else %>
        <%= image_tag("/user.png", :height=>'50px', :style => 'border-radius: 50%') %>
        <% end %>        
    </div>
</div>
<hr />
<div class="row">
    <div class="offset-md-1 col-md-7">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
        sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        
        <a href="#">Read more about the space <i class="fas fa-chevron-down"></i></a>
        <hr />
        <p style="font-weight: bold">Amentities</p>
        <div class="row mb-1">
            <div class="col-md-6"><i class="fas fa-utensils"></i> Kitchen</div>
            <div class="col-md-6"><i class="fas fa-wifi"></i> Wifi</div>
        </div>
        <div class="row mb-1">
            <div class="col-md-6"><i class="fas fa-tv"></i> TV</div>
            <div class="col-md-6"></div>
        </div>
        <hr />
        <h2 id="your_rating"><%= @comments.size == 0 ? 0 : @comments.size %> Reviews
            <i id="1" class="fas fa-star"></i>
            <i id="2" class="fas fa-star"></i>
            <i id="3" class="fas fa-star"></i>
            <i id="4" class="fas fa-star"></i>
            <i id="5" class="fas fa-star"></i>
        </h2>
        <p id="value"></p>

        <% if user_signed_in? %>
            <%= form_for [@room, @comment], html: {class: "form-inline"}, remote:true do |f| %>
            <div class="form-group" style="width:85%">
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :room_id, value: @room.id %>
                <%= f.text_field :text_content, :class => "comment-box form-control", 
                    :required => true, :autocomplete => 'off', placeholder: "Write a review" %>
                
                <%= f.submit "Comment", id: "submit", class: "ml-auto btn btn-primary" %>
            </div>
    
            <% end %>
        <% end %>
        <br>       
        <div id="comments">
            
        </div>
        
        <% @comments.each do |comment| %>
        <div class="comment">
            <div class="row">
                <div class="col-md-1">
                    <% if comment.user.user_pic.present? %>
                    <%= image_tag(comment.user.user_pic, :height=>'50px', :style => 'border-radius: 50%') %>
                    <% else %>
                    <%= image_tag("/user.png", :height=>'50px', :style => 'border-radius: 50%') %>
                    <% end %>
                </div>
                <div class="col-md-3">
                    <a href="#" style="font-weight:bold"><%= comment.user.username %></a>
                    <p><%= comment.created_at %></p>
                </div>
            </div>
            <p><%= comment.text_content %></p>
            <a href="#"></a>
        </div>
        <% end %>
        <hr />
    </div>
    <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <p><h3 class="mr-2" style="display:inline-block">$<%= @room.cost_per_night %></h3><h5 style="display:inline-block">per night</h5></p>
            <p>
                <i class="fas fa-star rated"></i>
                <i class="fas fa-star rated"></i>
                <i class="fas fa-star rated"></i>
                <i class="fas fa-star rated"></i>
                <i class="fas fa-star"></i> 157
            </p>
            <hr />
            <a href="#" class="btn contact">Contact to Host</a>
            <hr />
          </div>
        </div>
    </div>
</div>