<!--  Room's images slide -->
<div id="RoomImageSlide" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <% @room.pictures.each.with_index(0) do |photo, index| %>
      <li data-target="#RoomImageSlide" data-slide-to="<%= index %>" class="<%= index.zero? ? 'active' : '' %>"></li>
    <% end %>
  </ol>
  <div class="carousel-inner">
    <% @room.pictures.each.with_index(0) do |photo, index| %>
      <div class="carousel-item <%= index.zero? ? 'active' : '' %>">
        <%= image_tag(photo, :style=>'object-fit:cover;height:500px;width:100%;') %>
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#RoomImageSlide" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#RoomImageSlide" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="row mt-3">
    <div class="offset-md-1 col-md-5">
        <h5> <%= @room.type_of_room == 0 ? 'HOMESTAY': 'HOTEL' %></h5>
        <h1> <%= @room.room_name %></h1>
        <p><i class="far fa-address-book"></i> <%= @room.address %>, <%= @room.province %></p>
        <div class="row">
            <div class="col-md-3"><i class="fas fa-user-friends"></i> <%= @room.num_of_guests %> guest </div>
            <div class="col-md-3"><i class="fas fa-door-open"></i> <%= @room.num_of_bedrooms %> bedroom </div>
            <div class="col-md-3"><i class="fas fa-bed"></i> <%= @room.num_of_beds %> bed</div>
            <div class="col-md-3"><i class="fas fa-bath"></i> <%= @room.num_of_baths %> bath</div>
        </div>
    </div>
    <div class="col-md-2 text-center">
        <p>Owner: <%= link_to @room.user.username, user_path(:id => @room.user_id) %></p>
        <% if @room.user.user_pic.present? %>
        <%= image_tag(@room.user.user_pic, :height=>'50px', :width=>'50px', :style => 'border-radius: 50%') %>
        <% else %>
        <%= image_tag("/user.png", :height=>'50px', :width=>'50px', :style => 'border-radius: 50%') %>
        <% end %>
        <br>
        <% if user_signed_in? && current_user.id == @room.user_id %>
        <div class="btn btn-primary">
            <%= link_to "Edit room", edit_room_path(@room), style: "color: white" %>
        </div>
        <% end %>
    </div>
    <% if user_signed_in? %>
        <div id="bookmark-icon-room-<%= @room.id.to_s %>" class="col-md-2">
            <%= render "bookmark_icon", {is_bookmarked: @room.is_bookmarked(current_user), room: @room} %>
        </div>
    <% end %>
</div>
<hr />
<div class="row">
    <div class="offset-md-1 col-md-7">
        <p id="room_info" style="overflow-wrap: break-word;">
            <%= @room.room_info %>
        </p>
        
        <a href="javascript:void(0)" style="display:none" id="show_link">
            Read more about the space 
            <i class="fas fa-chevron-down"></i>
        </a>
        <hr />
        <p style="font-weight: bold">Amentities</p>
            <!-- FIX THIS MESS -->
            <% a = show_amentities(@room.amentities) %>
            <% for i in 0..(a.size-1) do %>
                <% if a[i] == 'Kitchen'%>
                <div class="col-md-6"><i class="fas fa-utensils"></i> Kitchen</div>
                <% elsif a[i] == 'Wifi'%>
                <div class="col-md-6"><i class="fas fa-wifi"></i> Wifi</div>
                <% elsif a[i] == 'TV'%>
                <div class="col-md-6"><i class="fas fa-tv"></i> TV</div>
                <% elsif a[i] == 'Gym' %>
                <div class="col-md-6"><i class="fas fa-dumbbell"></i> Gym</div>
                <% elsif a[i] == 'Air conditioner' %>
                <div class="col-md-6"><i class="far fa-snowflake"></i> Air conditioner</div>
                <% elsif a[i] == 'Hot water'%>
                <div class="col-md-6"><i class="fas fa-hot-tub"></i> Hot water</div>
                <% end %>
            <% end %>
            <!-- -->
        <hr />
    
    <% if user_signed_in? %>
        <div>
            <%= social_share_button_tag(@room.room_name, :'data-source' => room_path(@room), desc: @room.room_name) %>
        </div>
    <% end %>

    <h2 id="review_amount">
        <%= parent_comments(@comments).size == 0 ? 
            0 : parent_comments(@comments).size %> Reviews
    </h2>
    
    <div id="comment_form">
    <% if user_signed_in? %>
        <!-- FIX THIS -->
        <% if current_user.comments.where(:parent_id => nil, :room_id => @room.id).blank? %>
            <h2 id="your_rating">
                <i id="1" class="fas fa-star"></i>
                <i id="2" class="fas fa-star"></i>
                <i id="3" class="fas fa-star"></i>
                <i id="4" class="fas fa-star"></i>
                <i id="5" class="fas fa-star"></i>
            </h2>
            
            <p id="value"></p>
            
            <%= form_for [@room, @comment], html: {class: "form-inline"}, remote:true do |f| %>
                
            <!--<div class="form-group" style="width:100%">-->
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :room_id, value: @room.id %>
                <%= f.text_field :text_content, :class => "comment-box form-control", 
                    :required => true,:style=> "flex-grow: 1", :autocomplete => 'off', placeholder: "Write a review" %>
                    <%= f.fields_for :rating, Rating.new do |rating_form| %>
                    <p>
                        <%= rating_form.hidden_field :user_id, value: current_user.id %>
                        <%= rating_form.hidden_field :room_id, value: @room.id %>    
                        <%= rating_form.hidden_field :stars %>                    
                    </p>
                    <% end %>
                <%= f.submit "Comment", id: "submit", class: "mr-auto btn btn-primary" %>
            <!--</div>-->
            <% end %>
        <% end %>
    <% end %>
    </div>

    <div id="comments" class="comments">
        <% @comments.each do |comment| %>
            <% if comment.parent_id == nil %>
            <%= render partial: 'comments/comment', locals: {comment: comment} %>
            <div id="replies_<%= comment.id %>" style="padding-top: 10px">
                <% comment.replies.each do |reply| %>
                    <%= render partial: 'comments/reply', locals: {comment: reply} %>
                <% end %>
            </div>
            <% end %>
        <% end %>
    </div>

    </div>
    <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <p><h3 class="mr-2" style="display:inline-block">$<%= @room.cost_per_night %></h3><h5 style="display:inline-block">per night</h5></p>
            <p id="average_rating">

                <% if !@room.ratings.blank? %>
                <% for i in 1..5 %>
                    <% if i > @room.ratings.average(:stars) %>
                    <i class="fas fa-star"></i>
                    <% else %>
                    <i class="fas fa-star rated"></i>
                    <% end %>
                <% end %>
                <%= number_with_precision(@room.ratings.average(:stars), :precision => 1) %> by <%= @room.ratings.count %> user(s).
                <% else %>
                No ratings.
                <% end %>
            </p>

          </div>
        </div>
    </div>
</div>

